{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/side-nav.twig' %}

<section class="updates">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-6 offset-lg-3">
				<div class="daily-feeds card">
					<div class="card-header">
						<h3 class="h4">Activity Log</h3>
					</div>
					<div class="card-body no-padding">
						{% if array is defined %}
						{% for user in array %}
						<div class="item">
							<div class="feed d-flex justify-content-between">
								<div class="feed-body d-flex justify-content-between">
									<a href="/user-page/{{ user.basic_info.id }}" class="feed-profile"><div class="image" style="background-image: url('{{ user.photo }}')"></div></a>
									<div class="content">
										<h5>{{ user.basic_info.username }}</h5>
										<span>{{ user.action_type }} </span>
										<!-- <div class="full-date"><small>{{ user.date }}</small></div> -->
									</div>
								</div>
								<!-- <div class="date text-right"><small>5min ago</small></div> -->
							</div>
						</div>
						{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	</div>
	</section>

<script src="{{ base_url() }}/js/activity-log.js"></script>
<script>
	var array = {{ array | json_encode | raw}};
	console.log(array);
</script>
{% include 'templates/partials/footer.twig' %}
{% endblock %}
