{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/side-nav.twig' %}

<!-- Client Section-->
<section class="forms">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="card">
					<div class="card-body">
						<form name="frmChat" action="{{ path_for('chat.addMessage') }}" method="post"  id="frmChat" >
						{#<form name="frmChat"  id="frmChat" >#}
							<div id="chat-box">
								{% if arrMessage is defined %}
								{% for message in arrMessage %}
									<div class="chat-box-html">
										{{  message_id.username  }}:
										<div class="chat-box-message">
										  {{  message.message }}
										</div>
									</div>
								{% endfor %}
								{% endif %}
							</div>
							<input type="hidden" name="chat_id" id="chat-id" placeholder="Name" class="chat-input" required value="{{ message_id.chat_id }}"/>
							<input type="hidden" name="chat_user" id="chat-user" placeholder="Name" class="chat-input" required value="{{ message_id.username }}"/>
							<input type="text" name="chat_message" id="chat-message" placeholder="Message"  class="chat-input chat-message" required />
							<input type="submit" id="btnSend" name="send-chat-message" value="Send" >
							{{ csrf.field | raw }}{# raw скроет строку #}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="{{ base_url() }}/js/chat.js"></script>
{% include 'templates/partials/footer.twig' %}
{% endblock %}
