{% extends 'templates/app.twig' %}

{% block content %}
{% include 'templates/partials/side-nav.twig' %}

<section class="forms">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="card">
					<div class="card-body">
						<form name="frmChat" action="{{ path_for('chat.addMessage') }}" method="post"  id="frmChat" >
							<div id="chat-box">
							{% if msg_array is defined %}
								{% for message in msg_array %}
									<div class="chat-box-html">
										{% if message.author_user_id == msg_attr.active_user_id %}
											{{ msg_attr.active_username }}:
										{% else %}
											{{ msg_attr.dest_username }}:
										{% endif %}
										<div class="chat-box-message">
										  {{ message.message }}
										</div>
									</div>
								{% endfor %}
							{% endif %}
							</div>
							<input type="text" name="chat_message" id="chat-message" placeholder="Type a message..."  class="chat-input chat-message" required />
							<input type="submit" id="btnSend" name="send-chat-message" value="Send" >
							{{ csrf.field | raw }}{# raw скроет строку #}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	var msgAttr = {{ msg_attr | json_encode | raw }};
</script>
<script src="{{ base_url() }}/js/chat.js"></script>
{% include 'templates/partials/footer.twig' %}
{% endblock %}
